.container {
   margin-top: 40px;
   min-width: 1390px; /* set for the position stickey*/
   margin-left: 80px;
   height: fit-content;
   padding: 40px;
   border-radius: 10px;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
   background: white;
   margin-left: 15%;
   /* margin-right: auto; */
}

table {
   width: 100%;
   border-collapse: collapse;
   background: white;
   border-radius: 12px;
   overflow: hidden;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   table-layout: auto;
}

th,
td {
   border-bottom: 1px solid #ddd;
   padding: 16px;
   text-align: left;
   word-wrap: break-word;
   font-size: 16px;
}

th {
   background-color: #f4f4f4;
   font-weight: bold;
   font-size: 18px;
}

.filters {
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
   margin-bottom: 25px;
}

.filters button {
   padding: 10px 18px;
   border: none;
   background-color: #33425d;
   color: white;
   cursor: pointer;
   border-radius: 6px;
   font-size: 16px;
}

.filters button.active {
   background-color: #e0e7ff;
   color: #3b82f6;
   font-weight: bold;
}

h2 {
   text-align: left;
   font-size: 24px;
}

.my-4 {
   margin-top: 8px;
}

.status {
   padding: 6px 12px;
   border-radius: 15px;
   font-weight: bold;
   display: inline-block;
}

.succeeded {
   background-color: #d4edda;
   color: #155724;
}

.refunded {
   background-color: #f8d7da;
   color: #721c24;
}

.failed {
   background-color: #f5c6cb;
   color: #721c24;
}
