
.container {
   margin-top: 40px;
   width: 80%;
   height: fit-content;
   border-radius: 8px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
   text-align: center;
}

.actions {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}

.search-filter {
   display: flex;
   gap: 10px;
   margin-bottom: 15px;
   border-radius: 2%;
}

input[type="text"] {
   flex: 1;
   padding: 8px;
   border-radius: 5px;
   border: 1%;
}

button {
   background: #28a745;
   color: white;
   border: none;
   padding: 8px 12px;
   cursor: pointer;
   border-radius: 5px;
}

button:hover {
   background: #218838;
}

table {
   width: 100%;
   border-collapse: collapse;
}

th,
td {
   padding: 10px;
   text-align: left;
   border-bottom: 1px solid;
}

th {
   background: aqua
}

td button {
   background: transparent;
   border: none;
   cursor: pointer;
}
